.searchBar{
  font-size: 32px;
  color: blue;
  width: 100%;
  border: solid blue 3px;
}

.searchBarDiv{
  margin: auto;
  width: 50%;
}

.title{
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 52px;
}

table#womensList tr.odd {
   background-color: #EEF1F6;
}
table#womensList tr.even {
   background-color: #FFFFFF;
}
.bigDiv{
  padding-top: 50px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  margin: auto;
  width: 50%;
}
